<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Actual
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card" class="ion-text-center">
      <img src="" />
      <ion-card-header>
        <ion-card-subtitle>Temperatura a las {{ currently?.time * 1000 | date:'HH:mm' }} del día {{ currently?.time * 1000 | date:'dd-MM-yyyy' }}</ion-card-subtitle>
        <ion-card-title>{{ currently?.temperature.toFixed(1) }}°</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ currently?.summary }}</p>
      </ion-card-content>
    </ion-card>
    <ion-list>
      <ion-item>
        <ion-label>Sensación Térmica:</ion-label>
        <ion-label class="ion-text-right">{{currently?.apparentTemperature.toFixed(1)}}°</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Probabilidad de lluvias:</ion-label>
        <ion-label class="ion-text-right">{{currently?.precipProbability * 100}}%</ion-label>
      </ion-item>
    </ion-list>
    
    <ion-item>
      <ion-label position="floating">Ingrese ciudad</ion-label>
      <ion-input (ionInput)="autocomplete($event.target.value)"></ion-input>
    </ion-item>

    <ion-list>
      <ion-item *ngFor="let city of cities">
        <ion-label>{{city?.city}}</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
